# Ignore virtual environment folders
venv/
env/

# Ignore IDE-specific files
*.iml
.idea/

#Ignore XML local config files
misc.xml
modules.xml
profiles_settings.xml
Project_Defatult.xml
vcs.xml

# Ignore Python cache files
*.pyc
__pycache__/